@import "fonts";
@import "vendor";
@import "colors";

//global styles goes here:

* {
  box-sizing: inherit;
}

body, html {
  font-size: 14px;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


